body {
    margin: 20px;
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    min-height: calc(100vh - 40px);
    align-items: center;
}

.avatar {
    width: 150px;
    aspect-ratio: 1;
   border-radius: 50%;
   border: 2px dotted #eeef20;
   
}

.card:hover {
    cursor:pointer;
    scale: 1.5;
}



.card {
    transition: scale 400ms;
    animation: fadein 5s;
    border-radius: 4px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items:center;
    background: #007f5f;
    color: #eeef20;
    box-shadow: 10px 10px #007f5f57;
}





/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/


@keyframes fadein {
    from {
        opacity:0;
    }

    to {
        opacity: 1;
    }
}